.progress-container {
    width: 600px;
}
.progress-bar {
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    overflow: hidden;
    position: relative;
}
.progress-value {
    position: absolute;
    color: black;
    z-index: 1111;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-fill {
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    position: absolute;
    background-color: bisque;
    transition: transform 0.4s ease-in;
}