.wrapper {
    display: flex;
    justify-content: center;
}
.center {
    width: 500px;
    border: 1px solid gray;
}
.tab-list {
    display: flex;
    width: 100%;
}
.tab {
    flex: 1;
}
.tab.active button {
    background-color: red;
}
.tab button {
    width: 100%;
    background-color: cadetblue;
    color: white;
    height: 30px;
}
.tab-content {
    min-height: 350px;
    max-height: 350px;
    overflow: scroll;
    padding: 30px;
}