.whaleAMock {
    margin: 20px;
}
.w-a-m-row {
    display: flex;
    border: 1px solid gray;
}
.w-a-m-row[data-lastrow="false"] {
    border-bottom: 1px solid gray;
}
.w-a-m-col {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}
.w-a-m-col[data-lastcol="false"] {
    border-right: 1px solid gray;
}
.hammer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}