.board-wrapper {
    display: flex;
    justify-content: center;
}
.boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    border: 1px solid black;
}
.boards-row {
    display: flex;
}
.boards-row[data-lastrow="false"] {
    border-bottom: 1px solid black;
}
.boards-col {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.boards-col[data-lastcol="false"] {
    border-right: 1px solid black;
}