.carousel-box {
    width: 100%;
}
.sliders {
    width: 580px;
    height: 320px;
    position: relative;
    margin: auto;
}
.sliders img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    opacity: 0;
}
.sliders img[active="true"] {
    opacity: 1;
}
.prev-btn, .next-btn {
    position: absolute;
    background-color: gray;
    outline: none;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.prev-btn {
    left: -30px;
    top: 50%;

}
.next-btn {
    right: -30px;
    top: 50%;
}
.indicators {
    text-align: center;
}
.indicators span {
    display: inline-block;
    border: 1px solid gray;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}