.board {
    display: flex;
    flex-direction: column;
}
.board-row {
    display: flex;
    flex: 1;
}
.board-col {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: red;
    margin: 2px;
}
.board-col .data {
    z-index: -1;
}
.board-col.enable .data {
    z-index: inherit;
}
.board-col.valid {
    visibility: hidden;
}