.inner-comments {
    margin-left: 15px;
}

.inner-comments, .nested-comments {
    position: relative;
}

.nested-comments-list {
    padding-left: 10px;
}

.line {
    position: absolute;
    width: 2px;
    height: 100%;
    background: purple;
}

.comment-headers {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

.reply-btn, .delete-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.reply-btn {
    color: green;
}
.delete-btn {
    color: red;
}

.reply-comment-box textarea {
    resize: none;
    width: 430px;
    height: 80px;
}

.reply-comment-btn button {
    background-color: rgb(73, 162, 210);
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}
.reply-comment {
    margin-left: 12px;
}