* {
    box-sizing: border-box;
}
.autocomplete {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.search-bar {
    display: flex;
    height: 50px;
    width: 100%;
}
.search-bar .input-field {
    width: 90%;
}
input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    border: 2px solid gray;
}
.cancel-btn {
    display: flex;
    align-items: center;
    background-color: aqua;
    margin-left: 5px;
    width: 10%;
}
.cancel-btn button {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.suggestions {
    background-color: bisque;
    margin-top: 5px;
    width: 90%;
}
.suggestion-list {
    padding: 8px;
    cursor: pointer;
}
.suggestion-list[data-selected="true"] {
    background-color: cadetblue;
}
.suggestion-list:hover {
    background-color: gray;
}
.suggestion-loader {
    padding: 8px;
}