.records {
    min-height: 320px;
    max-height: 320px;
    overflow: scroll;
}
.records-list-item {
    padding: 5px;
}
.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btns button {
    background-color: gray;
    border: 1px solid black;
    color: white;
    padding: 14px 18px;
    cursor: pointer;
}
.btns .disabled {
    opacity: 0.5;
    pointer-events: none;
}
.pages-list {
    display: flex;
    gap: 10px;
}
.page-item {
    border: 1px solid gray;
    padding: 12px;
    cursor: pointer;
}
.page-item.selected {
    background-color: green;
    color: white;
}