.switch label {
    display: inline-block;
    width: 100px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.switch input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.switch .slider {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
    cursor: pointer;
    left: 0;
    top: 0;
    border-radius: 20px;
    z-index: 1;
    transition: all 0.2s ease-in;
}

.switch .slider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    transition: all 0.4s ease-in;
}

.switch:has(input:checked) .slider::before {
    left: calc(100% - 8% - 20px);
}

.switch:has(input:checked) .slider {
    background-color: purple;
}